[submodule "commands/ui"]
	path = commands/ui
	url = https://github.com/source4societyorg/SCEPTER-command-ui
[submodule "commands/list"]
	path = commands/list
	url = https://github.com/source4societyorg/SCEPTER-command-list
[submodule "commands/service"]
	path = commands/service
	url = https://github.com/source4societyorg/SCEPTER-command-service
[submodule "commands/cloud"]
	path = commands/cloud
	url = https://github.com/source4societyorg/SCEPTER-command-cloud
[submodule "commands/project"]
	path = commands/project
	url = https://github.com/source4societyorg/SCEPTER-command-project.git
[submodule "config"]
	path = config
	url = https://diyimaging.visualstudio.com/DIYImaging/_git/Configuration
